
{{ $baseurl:= .Page.Site.BaseURL }}
<iframe id="myframe" {{with .Get "src"}}src="{{ $baseurl }}/logs/{{ . }}"{{ end }} frameborder="0" scrolling="no">
</iframe>
<style>
iframe#myframe {
  width: 100%;
}
</style>

<script>
    // 子画面の要素を取得
    var elm = document.getElementById("myframe");
     
    // 子画面のコンテンツサイズに合わせてサイズを変更する関数
    function changeParentHeight(){
      elm.style.height = (elm.contentWindow.document.body.scrollHeight+100) + "px";
    }
     
    // 親画面 iframe の高さを変更するイベント
    // 1. 子画面の読み込み完了時点で処理を行う
    elm.contentWindow.onload = function(){ changeParentHeight(); };
     
    // 2. 子画面のウィンドウサイズ変更が完了した時点で処理を行う
    var timer = 0;
    elm.contentWindow.onresize = function () {
      if (timer > 0) {
        clearTimeout(timer);
      }
      timer = setTimeout(function () {
        changeParentHeight();
      }, 100);
    };
</script>
